```ruby
  [1m[36mActiveRecord::SchemaMigration Load (0.2ms)[0m  [1mSELECT `schema_migrations`.* FROM `schema_migrations`[0m
Run options: --seed 3149

# Running:

-----------------------------------------------------------------------
VideoTest: test_Should_save_a_video,_with_a_valid_video_file_attachment
-----------------------------------------------------------------------

---------------------------------------------------------------
VideoTest: test_should_not_save_video_without_video_file,_media
---------------------------------------------------------------
  
-------------------------------------------------------
VideoTest: test_Should_save_HyperTranscript_to_database
-------------------------------------------------------
---------------------------------------------------
VideoTest: test_should_not_save_video_without_title
---------------------------------------------------
-----------------------------------------------------------------------------
VideoTest: test_Should_convert_srt_string_into_hyperTranscript_data_structure
-----------------------------------------------------------------------------

Finished in 8.169125s, 0.6121 runs/s, 0.7345 assertions/s.

5 runs, 6 assertions, 0 failures, 0 errors, 0 skips
```
