 /*styling of the video quote*/
      .video-quote  blockquote {
          background: #FAFAFC;
          border-left: 10px solid #E8E8F2;
          margin: 1.5em 10px;
          padding: 0.5em 10px;
          quotes: "\201C""\201D""\2018""\2019";
           cursor:pointer;
      }
      .video-quote  blockquote:before {
          color: #3D5266;
          content: '“';
          font-family: Times!important;
          font-size: 4em;
          line-height: 0.1em;
          margin-right: 0.25em;
          vertical-align: -0.4em;
      }
      .video-quote blockquote p {
          display: inline;
      }
      cite#authorVideoQuote {
         font-style: italic;
      }
      /*classes to show hide video element*/
      .video-wrap {
          overflow: hidden;
          height: auto;
          -webkit-transition: height 0.3s ease;
      }

      .video-wrap--closed {
          height: 0;
      }
