// Place all the styles related to the Transcriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.transcriptions {
  background: #f5f5f5;
}